{% extends 'layout.html' %}
{% block title %} face {% endblock %}
{% block content %}
    <section class="collection" id="collection" >
        <h3 class="mt-5">Live Streaming</h3>
                <img src="{{ url_for('video_feed') }}" width="49%",height="35%">
                <img src="{{ url_for('video_feed') }}" width="49%",height="35%">
        <h3 class="sub-heading"></h3>
        <h1 class="heading">  </h1>
        <div class="box-container">
            <div class="box" >
                <h3></h3>
                <a href="/" class="btn">Home</a>
                <span></span>
                <a href="/reports" class="btn">Reports</a>
            </div>
        </div>
    </section>
{% endblock %}